.UserFormAbilities {
    padding-left: 20px;
    padding-right: 20px;
    width: 250px;
    margin: auto;
    margin-top: 30px;
    border-radius: 15px;
    border-width: 1px;
    border-color: #000000;
    border-style: solid;
}

.form-label {
    padding-right: 5px;
    text-align: left;
    width: 60%;
}

.FormRow {
     padding-top: 6px;
     margin: auto;
     text-align: left;
}

.add-button {
    width: 100px;
    background-color: #3b7de0;
    color: white;
    padding: 6px 4px;
    margin: 25px 0;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 14px;
  }