.add-button {
    width: 120px;
    background-color: #3b7de0;
    color: white;
    padding: 6px 4px;
    margin: 25px 0;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 14px;
  }

  .form-label {
    padding-right: 5px;
    text-align: left;
    width: 60%;
}

.FormRow {
     padding-top: 6px;
     margin: auto;
     text-align: left;
}

.UserForm {
    padding-top: 30px;
    width: 400px;
    margin: auto;
    border-radius: 15px;
    border-width: 1px;
    border-color: #000000;
    border-style: solid;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}