.App {
  text-align: center;
}

.App-header-container {
  background-color: #282c34;
  min-height: 100px;
  display: flex;
}

.App-header {
  margin: auto;
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.error{
  color: red;
}
