
  .error{
    color: red;
  }
  
  .UserFormReg {
      padding-left: 30px;
      padding-right: 30px;
      width: 300px;
      margin: auto;
      margin-top: 30px;
      border-radius: 15px;
      border-width: 1px;
      border-color: #000000;
      border-style: solid;
  }

  .form-field {
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    border-width: 1px;
    border-color: #000000;
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    font-size: 18px;
    height: 100%;
    padding: 2px 10px 2px;
    width: 100%;
  }

  .form-picture {
      padding-top: 10px;
      margin: auto;
      text-align: center;
  }

  .form-label {
      padding-right: 5px;
      text-align: left;
      width: 60%;
  }
  
  .FormRow {
       padding-top: 6px;
       margin: auto;
       text-align: left;
  }

  .Role {
    padding-top: 12px;
    margin: auto;
    text-align: center;
    }


  .reg-button {
    width: 30%;
    background-color: #3b7de0;
    color: white;
    padding: 6px 4px;
    margin: 16px 0;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 14px;
  }

  .form-title {
    font-size: 25px;
    padding-bottom: 10px;
  }

  .form {
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    height: 500px;
    padding: 20px;
    width: 320px;
  }